<h1>About grX Clan</h1></br>
  <h3>What does grX mean?</h3>
    <p>Gamers Redefining eXcellence - a collaborative community developing gaming skills and synergistic teamwork to overcome any challenge.</p></br>
  <h3>Who is the grX Clan?</h3>
    <p>Just a bunch of young professionals in the marketplace (most of us in Silicon Valley) who game together in the evenings. We've been sharing life together since 2006 and have become lifelong friends who love to shoot at each other's digital avatars.</p>

