<div class="center hero-unit">
    <h1>GRX Clan</h1>
    <h2>
      Gamers Redefining Excellence
    </h2>
    <p>taeWook vs. hguy4x</p>
    <p>Tonight 8/12/14 @ 9:30p PST</p>
    <p>Don't miss it!</p>
    <h3>Place your bets here:</h3>
</div>