@import "bootstrap";

/* Universal */

li {
	list-style: none;
}

/* Header */

.header {
	margin-bottom: 90px;
}

/* Nav Bar Links */

.navlinks {
	li {
	border-right: 1px solid #EEEEEE;
	font-size: 16px;
	margin-top: 10px;
	padding: 0px 10px;
	}

	li:last-child {
		border-right: none;
	}
}	

/* Sign up/Sign in */

#signup {
	font-size: 16px;
	color: #6DC639;		
}

#signup:hover {
	color: white;
}

/* Roster Profiles */

.roster-list li {
	float: left;
	list-style: none;
	margin-right: 50px;
}

/* Individual Profiles */

.left-profile {
	float: left;
	text-align: center;
}

.profile-facts {
	clear: both;
	font-size: 18px;
	font-style: italic;
	padding-top: 30px;
	text-align: center;
}

.fontmonkey {
	font-family: 'FunkyMonkey';
	font-size: 25px;
}

.back {
	font-size: 16px;
	margin-left: 35px;
}

/* Voting */

.vote li {
	float: left;
	list-style: none;
	margin-right: 100px;
}