@import "bootstrap";

/* Universal */

li {
	list-style: none;
}

/* Header */

.header {
	margin-bottom: 90px;
}

a:hover {
  text-decoration: none;
}

/* Nav Bar Links */

.navlinks {
	li {
	border-right: 1px solid #EEEEEE;
	font-size: 16px;
	margin-top: 10px;
	padding: 0px 10px;
	}
}	

#gamertag li {
		border-right: none;
	}

#gamertag_dropdown {
	font-size: 17px;
	font-style: italic;
	color: #6DC639;		
	margin-right: none;
}

#gamertag_dropdown:hover {
	color: #30B542;
}

/* Sign up/Sign in */

#signup {
	font-size: 16px;
	color: #6DC639;		
}

#signup:hover {
	color: white;
}

/* Roster Profiles */

.profile-pic {
	border: solid 3px black;
	border-radius: 18px;

}

.roster-list li {
/*	border: solid 2px black;*/
	float: left;
	height: 300px;
	width: 400px;
	list-style: none;
	padding: 10px;
	text-align: center;
}

.roster-list li:nth-child(even) {
	float: right;
}

.social {
	margin-top: 25px;
	text-align: left;
}

.social span {
	padding: 5px;
}

.twitch {

	color: #643DA7;
	margin-top: 18px;
	padding: 2px;
}

.twitch a {
	color: #643DA7;
	font-size: 17px;
}

/* Individual Profiles */

.profile_background {
	background-image: url('/assets/greenwave.png');
	background-position: center;
}

.profile-right-border {
	border-right: solid 3px black;
	border-color: #C3C9CB;
	margin-top: 20px;
	padding-right: 80px;
}

.social-profile {
	margin: 15px 0px 0px 22px;
	img {
		margin-left: 8px;
	}
}


.left-profile {
	float: left;
	font-style: italic;
	text-decoration: none;
}

.left-profile a {
	color: #30B542;
}

.left-profile a:hover {
	color: #6DC639;		
}

.left-profile-details {
	float: left;
	margin-left: 20px;	
	margin-top: 70px;
	text-decoration: none;
}

.gamertag {
	font-size: 25px;
	font-weight: bold;
	text-align: left;
}

.role {
	font-size: 18px;
	text-align: left;
}

#center h1, h4 {
	text-align: center;
}

.profile-facts {
	background-image: url('/assets/greenwave.png');
	background-position: center;
	border: solid 1px #999999;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	float: left;
	font-size: 18px;
	font-style: italic;
	margin-top: 20px;
	margin-left: 0px;
	width: 95%;
	padding: 20px;
}

.youtube {
	float: right;
	margin-top: 20px;
}

#tweets {
	clear: both;
	float: right;
}

.fontmonkey {
	font-family: 'FunkyMonkey';
	font-size: 25px;
}

.back {
	font-size: 16px;
	margin-left: 35px;
}

/* Voting */

.vote li {
	float: left;
	list-style: none;
	margin-right: 100px;
}