@font-face {
font-family: 'FunkyMonkey';
src: font-url('FunkyMonkey.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'CurseCasual';
src: font-url('CurseCasual.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
